body {
  font-family: $baseFont;
  padding: $basePadding 0;
  color: #333;
  line-height: 1.5;

  .container {
    margin: 0 auto;
    max-width: 800px;

    .content {
      background-color: white;

      .inner {
        padding: 0 $basePadding $basePadding $basePadding;
        overflow: hidden;
      }
    }
  }
}

svg.icon {
  width: 32px;
  height: 32px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  vertical-align: middle;
  fill: $main;
  background-color: $main;
  padding: 10px;
  stroke: white;

  &.round {}
}

ul {
  list-style: disc;
  margin-left: 20px;
}

a {
  color: $main;
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }
}

p {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $basePadding/2;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

hr {
  border: none;
  background-color: #eee;
  height: 3px;
}