$basePadding: 50px;

$baseFont: 'OpenSans';

$headerSpace:60px;
$profilePictureSize: 130px;

$main: #0FA0CE;
$red: #ff006e;
$backgroundColor: #fafafa;
$textColor: #000;

$borderSize: 5px;

$coloredTopBorder: $main solid $borderSize;

$contentPadding: 60px;
$contentPadding-sm: 20px;
$contentPadding-md: 40px;

$sm: 480px;
$md: 800px;
$lg: 1200px;

$smallDevice: 'only screen and (max-width: #{$sm})';
$mediumDevice: 'only screen and (min-width: #{$sm}) and (max-width: #{$md})';
$desktop: 'only screen and (min-width: #{$md})';